.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    margin-top: 8%;
    font-weight: 700;
  }
  
  .inputs {
    width: 300px;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .inputs:hover,
  .inputs:focus {
    border-color: rgb(0, 132, 255);
    box-shadow: 0 2px 5px rgb(0, 132, 255);
  }