.one {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: rgba(186, 186, 186, 0.652);    
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 10%;

}

.headertext {
  font-size: 32px;
  font-weight: 700;
}